body {
    background-color: #F8FBF1; /* Cornsilk background */
    color: #353839; /* Dark text for readability */
    font-family: Arial, sans-serif; /* Change font */
    margin: 0 auto;
            max-width: 800px;
            padding: 20px;
}

h1 {
    color: #353839; /* onyx color for headings */
    text-align: center;
}
 h2, h3 {
    color: #2F4F4F; /*dark slate gray  color for headings */
}
 
        ul {
            list-style-type: none;
            padding: 0;
        }
        li {
            margin: 10px 0;
        }
        a {
            color: #007BFF;
            text-decoration: none;
        }
        a:hover {
            text-decoration: underline;
        }
 table {
            border-collapse: collapse;
            width: 100%;
        }
        th, td {
            border: 2px solid black;
            padding: 8px;
            text-align: left;
        }
        h3 {
            margin-bottom: 0; /* Removes bottom margin */
            padding-bottom: 0; /* Removes bottom padding */
        }
